.container {
    text-align: start;
    padding: 0 2rem;
}

.titulo {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: var(--text-color);
}

.titulo span {
    color: #ff6a00;
}

.subtitulo {
    font-size: 1.125rem;
    max-width: 600px;
    color: var(--text-color);
    line-height: 1.4;
    margin-bottom: 20px;
}

.gridPlanos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 2rem;
  justify-content: center;
}

.card {
   display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid var(--roxo-vivo);
  border-radius: 12px;
  padding: 1.5rem;
  background-color: rgba(255, 255, 255, 0.03);
  transition: 0.3s ease;
  box-shadow: 0 0 12px var(--roxo-vivo);
  min-height: 420px;
}

.cardConteudo {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.card h3 {
  font-size: 1.25rem;
  color: var(--text-color);
  margin-bottom: 0.5rem;
}

.card ul {
  margin-top: 1rem;
  padding: 0;
  list-style: none;
}

.card li {
  margin-bottom: 0.6rem;
  font-size: 0.95rem;
  color: var(--roxo);
  display: flex;
  align-items: center;
  gap: 8px;
}

.card i {
    color: var(--roxo-vivo);
    font-size: 20px;
}

.cardAtivo {
    border: 2px solid var(--roxo-vivo);
    box-shadow: 0 0 12px var(--roxo-vivo);
    transform: scale(1.03);
}

.cardAtivo .botaoSelecionar {
    background: #ff6a00;
    color: #000;
    cursor: default;
    pointer-events: none;
}


.preco {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    color: var(--text-color);
  }

.botaoSelecionar {
    margin: 1.5rem auto 0;
    background: transparent;
    border: 2px solid #ff6a00;
    border-radius: 8px;
    color: #ff6a00;
    padding: 10px 20px;
    font-size: 0.95rem;
    cursor: pointer;
    transition: all 0.3s ease;
    display: block;
}

.botaoSelecionar:hover {
    background-color: #ff6a00;
    color: #000;
    box-shadow: 0 0 8px #ff6a00;
}

@media (max-width: 1024px){
    .titulo{
        text-align: center;
    }
    .subtitulo{
        text-align: center;
        justify-content: center;
        align-items: center;
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .titulo{
        font-size: 1.5rem;
        text-align: center;
    }
    .subtitulo{
        font-size: 1rem;
        text-align: center;
    }
}

