.perfilGrid {
  display: grid;
  grid-template-columns: minmax(0, 70%) 300px;
  gap: 24px;
  margin-top: 5%;
  align-items: flex-start;
  width: 100%;
}

.colunaEsquerda {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.colunaDireita {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* Responsivo */
@media (max-width: 1024px) {
  .perfilGrid {
    grid-template-columns: 1fr;
  }

  .colunaDireita {
    order: 2;
  }

  .colunaEsquerda {
    order: 1;
  }
}