.container {    
  color: var(--text-color);
  max-width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
}

.titulo {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--text-color);
}

.subtitulo {
  font-size: 1rem;
  color: var(--text-color);
  margin-top: 0.25rem;
}

.botoes {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}

.btnEnviar,
.btnSalvas {
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 0.95rem;
  text-decoration: none;
  transition: all 0.3s ease;
  cursor: pointer;
  white-space: nowrap;
  border: 2px solid #ff6a00;
  color: #ff6a00;
  background-color: transparent;
}

.btnEnviar:hover,
.btnSalvas:hover {
  background-color: #ff6a00;
  color: #000;
  box-shadow: 0 0 8px #ff6a00;
}

.divisor {
  margin: 2rem 0 2.5rem;
  height: 2px;
  background: var(--roxo-vivo);
  border: none;
  opacity: 0.5;
}

.gridGaleria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 2rem;
}

@media (max-width: 1024px) {
  .titulo {
    font-size: 2rem;
  }

  .subtitulo {
    font-size: 0.95rem;
  }

  .btnEnviar, .btnSalvas {
    padding: 8px 18px;
    font-size: 0.95rem;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 1.2rem;
  }

  .titulo {
    font-size: 1.6rem;
    text-align: center;
  }

  .subtitulo {
    text-align: center;
    font-size: 0.9rem;
    line-height: 1.4;
  }

  .header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

   .botoes {
    flex-direction: column;
    width: 100%;
  }

  .btnEnviar,
  .btnSalvas {
    width: 100%;
    text-align: center;
  }

  .gridGaleria {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}