.about-page {
  display: flex;
  flex-direction: column;
  gap: 35vh;
  background: linear-gradient(170deg, #E8E5DE, rgba(90, 17, 136, 0.4), #E8E5DE);
  backdrop-filter: blur(10px);
}

.about-page__intro {
  color: #1E062E;
  margin-top: 220px;
  margin-left: 80px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.about-page__title {
  font-size: 5.6rem;
}

.about-page__highlight {
  font-weight: 700;
  background: linear-gradient(45deg, #dcbbf1, #583b8f);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-page__description {
  max-width: 780px;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.about-page__slogan-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 6.5rem;
  width: 100%;
  padding: 0 5%;
  margin: auto;
}

.about-page__slogan {
  color: #1E062E;
  font-size: 3.2rem;
  font-weight: 700;
  text-align: center;
  line-height: 1.3;
  max-width: 900px;
  margin: 0 auto;
}

.about-page__line {
  box-shadow: 0px 0px 15px 5px #ffffffce;
  filter: blur(1px);
  width: 90%;
}

.about-page__team {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 48px;
  margin-left: 7%;
  color: #1E062E;
}

.about-page__team-container {
  display: flex;
  align-items: center;
  gap: 41px;
}

.about-page__team-image {
  max-width: 660px;
  max-height: 500px;
  border-radius: 30px;
  box-shadow: 0 0 15px #A020F0;
}

.about-page__team-text {
  font-size: 2.1rem;
  margin-left: 40px;
  width: 46%;
  font-weight: 700;
  text-align: start;
}

.about-page__highlight--orange {
  color: #ff6a00;
}

.about-page__divider--mobile {
  display: none;
}


@media (max-width: 1024px) {
  .about-page {
    display: flex;
    flex-direction: column;
    gap: 25vh;
  }

  .about-page__intro {
    width: 70%;
    margin-left: 6%;
  }

  .about-page__title {
    font-size: 4rem;
  }

  .about-page__description {
    font-size: 1.4rem;
  }

  .about-page__slogan-container {
    width: 85%;
    gap: 5rem;
  }

  .about-page__slogan {
    font-size: 3rem;
  }

  .about-page__team {
    margin-left: 5%;
  }

  .about-page__team-text {
    font-size: 1.8rem;
    width: 60%;
  }

  .about-page__team-container {
    gap: 32px;
  }

  .about-page__team-image {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .about-page {
    gap: 15vh;
  }

  .about-page__intro {
    width: 85%;
    margin: 15% auto 0 auto;
    gap: 1rem;
    margin-top: 180px;
  }

  .about-page__title {
    font-size: 2.4rem;
    text-align: start;
  }

  .about-page__description {
    font-size: 1rem;
    text-align: start;
    max-width: 300px;
  }

  .about-page__slogan-container {
    width: 90%;
    gap: 3rem;
  }

  .about-page__slogan {
    font-size: 2rem;
    width: 100%;
    text-align: center;
  }

  .about-page__line {
    width: 80%;
    filter: blur(0.5px);
  }

  .about-page__team {
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding: 0 5%;
  }

  .about-page__team-text {
    font-size: 1.4rem;
    width: 90%;
  }

  .about-page__team-container {
    flex-direction: column;
    gap: 24px;
  }

  .about-page__team-image {
    width: 80%;
    border-radius: 20px;
  }

  .about-page__divider--mobile {
    display: block;
    box-shadow: 0px 0px 15px 5px #ffffffce;
    filter: blur(1px);
    width: 80%;
    margin: 40px auto;
  }
}

/*Alterar Tema*/

.dark-mode .about-page__intro {
  color: #E8E5DE;
}

.dark-mode .about-page__slogan {
  color: #E8E5DE;
}

.dark-mode .about-page__team {
  color: #E8E5DE;
}

.dark-mode .about-page {
   background: linear-gradient(170deg, #121010, rgba(90, 17, 136, 0.4), #121010);
  backdrop-filter: blur(70px);
}