.container_descubra_torneios {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 70px;
}

.container_descubra_torneios h1 {
  margin-bottom: 15px;
  font-size: 50px;
}

.container_descubra_torneios p {
  font-size: 20px;
}

.container_descubra_torneios button {
  font-size: 16px;
  padding: 10px 25px 10px 18px;
  border: 2px solid #ff6a00;
  color: #ff6a00;
  background: transparent;
  border-radius: 10px;
  transition: 0.2s;
}

.container_descubra_torneios button:hover {
  box-shadow: 0 0 15px #ff6a00;
}

.container_descubra_torneios button span {
  padding-right: 10px;
}

.rotas_pag_torneios {
  display: flex;
  justify-content: space-between;
  padding: 20px 120px 0px 70px;
}

.rotas_pag_torneios button {
  background: none;
  border: 2px solid transparent;
  color: var(--text-color);
  font-size: 17px;
  margin-right: 20px;
  transition: 0.2s;
}

.menu_pag_torneios{
  display: flex;
  flex-direction: column;
  width: 10%;
  background: black;
}

.linha_pag_torneio {
  margin-top: 10px;
  background-color: blueviolet;
  width: 94%;
  margin-left: 3%;
  height: 2px;
}

.container_cards_pag_torneio h2{
    padding-top: 50px;
    padding-left: 5%;
}

.container_torneios_pag_torneio{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 30px;
}
@media (max-width:740px) {
  .container_descubra_torneios{
    text-align: center;
    gap: 20px;
    flex-direction: column;
  }

  .rotas_pag_torneios{
    display: flex;
    flex-direction: column;
    padding: 0px;
  }

  .links_pag_torneios{
    display: flex;
    justify-content: space-around;
  }

  .filtro_torneios{
    padding-top: 20px;
   display: flex;
   justify-content: center;
  }
}

