.container {
  color: var(--text-color);
  margin: 0 auto;
  padding: 0 2rem;
}

.titulo {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.divisor {
  border: none;
  height: 1px;
  background: var(--text-color);
  opacity: 0.2;
  margin-bottom: 1.5rem;
}

.filtros {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.filtros button {
  background: none;
  border: 2px solid #ff6a00;
  color: #ff6a00;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: all 0.3s;
}

.filtros button:hover,
.filtros button.ativo {
  background-color: #ff6a00;
  color: #000;
  box-shadow: 0 0 8px #ff6a00;
}


.lista {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.data {
  font-size: 0.85rem;
  color: #1c1c1c;
}

.dark .data {
  color: #ccc;
}

.conteudo {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.icone {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: contain;
  padding: 4px;
}

.dark .icone {
  border: 1px solid #ccc;
}

.nome {
  font-size: 1rem;
  color: var(--text-color);
}

.texto {
  font-size: 0.95rem;
  margin-top: 4px;
  color: var(--text-color);
}

.botoesAcao {
  display: flex;
  gap: 10px;
  margin-top: 8px;
}

.botoesAcao button {
  padding: 8px 16px;
  font-size: 0.9rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}

/* Botão de marcar como lida */
.botoesAcao button:first-child {
  background-color: #FF6A00;
  color: white;
}

.botoesAcao button:first-child:hover {
  background-color: #e85d00;
  box-shadow: 0 0 8px #ff6a0055;
}

/* Botão de apagar */
.botoesAcao button:last-child {
  background-color: transparent;
  color: #ff4d4d;
  border: 1px solid #ff4d4d;
}

.botoesAcao button:last-child:hover {
  background-color: #ff4d4d;
  color: white;
  box-shadow: 0 0 8px #ff4d4d88;
}

@media (max-width: 768px) {
  .titulo {
    font-size: 2rem;
    text-align: center;
  }

  .filtros {
    justify-content: center;
    gap: 0.75rem;
  }

  .filtros button {
    padding: 6px 12px;
    font-size: 0.8rem;
  }

  .conteudo {
    flex-direction: column;
    align-items: flex-start;
  }

  .icone {
    width: 50px;
    height: 50px;
  }

  .botoesAcao {
    justify-content: flex-start;
  }
}

@media (max-width: 480px) {
  .titulo {
    font-size: 1.6rem;
  }

  .filtros {
    flex-direction: column;
    align-items: center;
  }

  .filtros button {
    width: 100%;
    text-align: center;
  }

  .data {
    font-size: 0.75rem;
  }

  .nome {
    font-size: 0.95rem;
  }

  .texto {
    font-size: 0.9rem;
  }

  .botoesAcao i {
    font-size: 1.2rem;
  }

  .icone {
    width: 45px;
    height: 45px;
  }
}